USE [Vocabularies]
GO
/****** Object:  Table [dbo].[Value]    Script Date: 7/30/2023 4:53:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Value](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](1000) NOT NULL,
	[VocabularyID] [bigint] NULL,
 CONSTRAINT [PK_Value] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Value]  WITH NOCHECK ADD  CONSTRAINT [FK_Value_Vocabulary] FOREIGN KEY([VocabularyID])
REFERENCES [dbo].[Vocabulary] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Value] CHECK CONSTRAINT [FK_Value_Vocabulary]
GO
